
.DS_Store

.idea/.name

.idea/compiler.xml

.idea/workspace.xml

.idea/vcs.xml

.idea/uiDesigner.xml

.idea/modules.xml

.idea/encodings.xml

.idea/copyright/profiles_settings.xml

.idea/scopes/scope_settings.xml

.idea/misc.xml
