/* CSS declarations go here */

.kz_top_nav{
    display:block;
}

@media only screen and (max-device-width: 480px) {
    /* iPhone CSS rules here */
    .navbar .btn-navbar {
        display: block;
    }
}

.kz_cover{
    background-position: center;
    background-size:1170px;
}
.kz_cover.bg0{
    background-image: url(img/cover/th1.JPG);
}
.kz_cover.bg1{
    background-image: url(img/cover/cr1.JPG);
}
.kz_cover.bg2{
    background-image: url(img/cover/cr2.JPG);
}
.kz_cover.bg3{
    background-image: url(img/cover/bk1.JPG);
}
.kz_cover.bg4{
    background-image: url(img/cover/dc1.JPG);
}
.kz_cover.bg5{
    background-image: url(img/cover/hi1.JPG);
}
.kz_cover.bg6{
    background-image: url(img/cover/hi2.JPG);
}
.kz_cover.bg7{
    background-image: url(img/cover/hi3.JPG);
}
.kz_cover.bg8{
    background-image: url(img/cover/sq1.JPG);
}
