<template name="travel_carousel_flexslider">  
	<div id="full_screen_wrapper">  
	    <div id="travel_carousel" class="flexslider carousel slide carousel-fade">
	      <ul class="slides carousel-inner">
	        <li class="item active" style="background-image: url('http://i.imgur.com/csp9b.jpg')">
         
	        </li>
	        <li class="item" style="background-image: url('http://i.imgur.com/iIah6.jpg')">
          
	        </li>
	        <li class="item" style="background-image: url('http://i.imgur.com/qqEjG.jpg')">
          
	        </li>
	      </div>
	      
	    </div>
	</div>

 
</template>