<template name="travel_carousel">  
	<div id="travel" class="full_screen_wrapper">
	    <div id="travel_carousel" class="carousel slide carousel-fade">
	      <div class="carousel-inner">
	          <div class="item landscape " style="background-image: url('http://i.imgur.com/xZr0O.jpg')">

	          </div>
              <div class="item pet" style="background-image: url('http://i.imgur.com/8SnHA.jpg')">

              </div>
	          <div class="item active people" style="background-image: url('http://i.imgur.com/HDyaX.jpg')">

	          </div>
	          <div class="item sport people" style="background-image: url('http://i.imgur.com/Prsf8.jpg')">

	          </div>

              <div class="item nature" style="background-image: url('http://i.imgur.com/jFtzf.jpg')">

              </div>
	      </div>
	      <!--<a class="left carousel-control" href="#travel_carousel" data-slide="prev">‹</a>
	      <a class="right carousel-control" href="#travel_carousel" data-slide="next">›</a>-->
	    </div>
		<div class="container ">
			<div class="overlay row">
                <div class="span6 intro">
                    <h2 class="begin">Elegant design and stunning photography</h2>
                    <h1 class="final">the beautiful art we can create together...</h1>
                </div>

                <div class="places span6">
                    <ul class="pull-right">
                        <li data-to='1'>
                            <span class="city">Seascapes - </span><span class="nation">Landscapes</span>
                        </li>
                        <li data-to='2'>
                            <span class="city">Dogs - </span><span class="nation">Pet Portraits</span>
                        </li>
                        <li data-to='3'>
                            <span class="city">Golden Gate - </span><span class="nation">Travel Photos</span>
                        </li>
                        <li data-to='4'>
                            <span class="city">Fishing - </span><span class="nation">Sports Photography</span>
                        </li>
                        <li data-to='5'>
                            <span class="city">Nature - </span><span class="nation">Wildlife Photography</span>
                        </li>
                    </ul>
                </div>
			</div>


		</div>
	</div>

 
</template>