<template name="carousel">
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url('http://dl.dropbox.com/u/442899/img/k1.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>Kenzan Boo (placeholder1)</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('http://dl.dropbox.com/u/442899/img/k2.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>Kenzan Boo (placeholder2) </h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url('http://dl.dropbox.com/u/442899/img/k21.jpg')">
          <div class="container">
            <div class="carousel-caption">
              <h1>Kenzan Boo (placeholder3)</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="http://twitter.github.com/bootstrap/examples/carousel.html#">Browse gallery</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="http://twitter.github.com/bootstrap/examples/carousel.html#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->

 
</template>