<template name="contact">
	<div id="contact_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel">Contact Me!</h3>
	  </div>
	  <div class="modal-body">
		<div class="contact facebook">
			<div>
				<a href="http://www.facebook.com/kenzanboo">
					<img src="http://i.imgur.com/7Szfi.png">
				</a>
			</div>
		</div>
		<div class="contact linkedin">
			<a href="http://www.linkedin.com/in/kenzan">
				<img src="http://i.imgur.com/DUDTo.jpg">
			</a>
		</div>
	    
	  </div>
	  <div class="modal-footer">
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	  </div>
	</div>
</template>