
<template name="navbar">
    <!-- NAVBAR
    ================================================== -->
    <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
      <div id="kenzan_nav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
		    <div class="container">
			
          		<!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize.
          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		<span class="icon-bar"></span>
          		</a>
				 -->
          		<div class="brand">
					<img src="http://i.imgur.com/px4yK.jpg">
					<span>Kenzan Amazonia Boo</span>
				</div>
          		<!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          		<ul class="nav">
          			<li class="home first active"><a href="#">
						<div style="font-size:36px;">
							<i class="fa-icon-globe"></i>						
						</div>
						<div>Home</div> 
          			</a></li>
          			<li class="travel"><a href="#travel">
						<div style="font-size:36px;">
							<i class="fa-icon-plane"></i>						
						</div>
						<div>Travel</div> 
					</a></li>
          			<li><a href="#contact_modal" role="button" data-toggle="modal">
						<div style="font-size:36px;">
							<i class="fa-icon-comments"></i>						
						</div>
						<div>Contact Me</div> 
					</a></li>          		
          			
          		</ul>
				
		    </div><!-- /.container -->			
        </div><!-- /.navbar-inner -->
	</div><!-- /.navbar-->
    
</template>