<template name="travel_carousel">  
	<div id="full_screen_wrapper">  
	    <div id="travel_carousel" class="carousel slide carousel-fade">
	      <div class="carousel-inner">
	        <div class="item active" style="background-image: url('http://dl.dropbox.com/u/442899/img/trav-sf.jpg')">
         
	        </div>
	        <div class="item" style="background-image: url('http://dl.dropbox.com/u/442899/img/trav-marseille.jpg')">
          
	        </div>
	        <div class="item" style="background-image: url('http://dl.dropbox.com/u/442899/img/trav-swiss.jpg')">
          
	        </div>
	      </div>
	      <a class="left carousel-control" href="#travel_carousel" data-slide="prev">‹</a>
	      <a class="right carousel-control" href="#travel_carousel" data-slide="next">›</a>
	    </div>
	</div>

 
</template>